body {
  background-image: url("cloudsblue.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 500px;
  display: block;
  margin: 10px auto 100px auto;
}
